/**
 * Name: Frozen Custom
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2015 PxO Ink. Some Rights Reserved.
 */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,500italic,300italic,400);

/* Page Settings */

.nod {
	display: none;
}

.alert {
	@extend .alert-box;
}

body {
	font-family: "Roboto", sans-serif, serif;
}

/* Page Work */

.container > section {
	position: relative;
	margin-top: 1.11rem;
	margin-bottom: 1.11rem;
}

.top-bar .site-information {
	position: absolute;
	top: 0px; 
	left: 0px;
	padding-left: 0px;
	z-index: 10;
	
	span {
		@extend .nod;
	}
	
	img {
		height: 2.00rem;
	}
}

.pre-nav {
	padding-right: 0px;
}

.top-bar-section {
	a:not(.button):hover {
		background-color: $primary-color;
	}
}

.hero {
	padding: 2.50rem;
	background-color: #007BA7;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, rgba(255, 255, 255, 0.25) 40px, 
	rgba(255, 255, 255, 0.25) 80px);
	color: #FFF;
}

.breadcrumbs {
	* {
		display: inline;
		list-style-type: none;
	}
	
	li {
		padding: 0.50em 0px;
	}
}


.content {
	img {
		margin-bottom: 1.25rem;
		max-width: 100.00%;
	}
	
	figure {
		margin: 0px;
		margin-bottom: 1.25rem;
		max-width: 100.00%;
		
		figcaption {
			text-align: center;
		}
		
		img {
			margin: 0px;
		}
	}
	
	* {
		word-wrap: break-word;
	}
	
	.featured-image img {
		margin-bottom: 1.11rem;
		width: 100.00%;
		height: auto;
	}
	
	> footer, p.card {
		@extend .sub-nav;
		padding: 0px 1.11rem;
		background-color: $panel-bg;
		border-width: $panel-border-size;
		border-color: $panel-border-color;
		border-style: $panel-border-style;
		color: $sub-nav-font-color;
		
		p {
			margin-bottom: 0px;
		}
	}
	
	.comments {
		li {
			list-style-type: none;
		}
	}
}

.widget {
	@extend .panel;
}

/* Responsive */

@media #{$small-only} {
	.top-bar-section ul li:not(.toggle-topbar) {
		> a {
			padding: ($topbar-height / 3);
			
			&:not(.back) {
				background-color: $topbar-bg-color;
				border-width: 0px;
				border-bottom: 1px;
				border-color: $topbar-link-bg-hover;
				border-style: solid;
			}
		}
		
		.back a {
			background-color: $topbar-link-bg-active;
			font-size: $topbar-link-font-size;
			font-variant: small-caps;
			text-transform: lowercase;
		}
	}
}